<header>
	<span class="title"><a href="/">IMAGES CLOUD</a></span>
	<div id="menu_block">
		<ul id="menu">
			<li><a href="/rules">Правила</a></li>
			<li><a href="/login">Вход</a></li>
			<li><a href="/registration">Регистрация</a></li>
		</ul>
	</div>
</header>