<main>
	<div id="login_form">
		<div id="inner_login">
			<form action="/login/submit" method="post">
				<input name="login" type="text" placeholder="Input login"><br>
				<input name="password" type="password" placeholder="Input password"><br>
				<input type="submit">
			</form>
		</div>
	</div>
</main>